Django==4.2.16
djangorestframework==3.11.0
django-cors-headers==3.2.1
django-filter==2.4.0
psycopg2==2.8.5
gunicorn==22.0.0
django-computedfields==0.0.19
dj-database-url
whitenoise
django-rest-auth
django-allauth
django-heroku
pytest
pytest-django
pytest-cov
django-rest-swagger
coveralls
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability